<p id="notice"><%= notice %></p>
<h1>Listing Teams</h1>

<% Team.all.each do |team| %>

  <div class="teams">
  <%= link_to team.name %>
  </div>
<% end %>

<br>

<%= link_to 'New Team', new_team_path %>
