<h1>Welcome to Player Card</h1>

<h2><%= @league.name %></h2>

<p><%= link_to "Teams", teams_path %></p>
<p><%= link_to "Users", profiles_path %></p>
<!-- <p><%# link_to "Referees", '#' %></p>
<p><%# link_to "Players", '#' %></p>-->
<p><%= link_to "Games", games_path %></p>
