<h1>Listing Games</h1>

<% Game.all.each do |game| %>

  <div class="team_titles">
  <%= link_to @game.home_team.name, @game.home_team %> Vs.
  <%= link_to @game.away_team.name, @game.away_team %>
  </div>
  Start Time:  <%= @game.game_time %>
<% end %>


<%= link_to 'New Game', new_game_path %>
