<h1>Listing Games</h1>

<% Game.all.each do |game| %>

  <div class="team_titles">
  <%= link_to @game.team.first.name, @game.team.first %> Vs.
  <%= link_to @game.team.last.name, @game.team.last %>
  </div>
  Start Time:  <%= @game.game_time %>
<% end %>


<%= link_to 'New Game', new_game_path %>
