header {
  background: blue;
  padding: 15px 0px;

  nav.main_nav {
    float: left;

    a, a:visited {
      color: white;
    }
  }

  nav.login_nav {
    float: right;
    color: white;

    a {
      color: white;

      &:hover {
        text-decoration: underline;
      }

      &:visited {
        color: white;
      }
    }
  }
}

main {
  h1, h2 {
    color: white;
    text-align: center;
  }
}

body.static_pages.index {
  background: url("http://i443.photobucket.com/albums/qq159/tadpolefarm/Mbombela%20Stadium/Mbombela_Stadium_Panorama_night.jpg~original") no-repeat center top;
  background-size: 2000px auto;
}

