header {
  background: blue;
  padding: 15px 0px;

  nav.main_nav {
    float: left;

    a, a:visited {
      color: white;
    }
  }

  nav.login_nav {
    float: right;
    color: white;

    a {
      color: white;

      &:hover {
        text-decoration: underline;
      }

      &:visited {
        color: white;
      }
    }
  }
}

main {
  h1, h2 {
    color: white;
    text-align: center;
  }
}


